/* ================================= */
/* :::::::: Responsive Design :::::::: */
/* ================================= */
/* Because these styles appear before most of the styles being overriden in the code, 
   we need to append an ancestor's class to overriding styles, i.e. the media query .group2{} styles will not 
   override the other .group2{}, so we append .parallax .group2{} to override due to specificity */


/* Tablet Portrait */
/*@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  .group1 .parallax_layer--mountain5 {
    width: 150%;
    left: -78px;
  }

  .group3 .parallax_layer--ocean3a {
    transform: translateZ(-1.6px) scale(2.4);
    width: 211%;
  }

  .group3 .parallax_layer--ocean3b {
    transform: translateZ(-1.3px) scale(2.0);
    width: 115%;
  }
}*/

/*Different aspect ratios--tablets and monitors*/
@media screen and (max-aspect-ratio: 4/3) and (min-width : 768px){
  .parallax_group{
      min-height:120vh;
  }
}
/*min aspect ratio 1.33*/
@media screen and (min-aspect-ratio: 4/3) and (min-width : 768px){
  .parallax_group{
      min-height:120vh;
  }
}
/*min aspect ratio 1.6*/
@media screen and (min-aspect-ratio: 16/10) and (min-width : 768px){
.parallax_group{
      min-height: 130vh;
  }
}

/*min aspect ratio 1.78 or 16/9*/
@media screen and (min-aspect-ratio: 16/9) and (min-width : 768px){
  .parallax_group{
      /*min-height: 850px;*/
      min-height: 130vh;
  }
}

/* Mobile */
@media only screen and (min-width : 320px) and (max-width : 740px) {
.parallax_group{
      min-height:120vh;
  }


}

/* ================================= */
/* :::::::: Parallax Layout :::::::: */
/* ================================= */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #0b0d21 /*521d13*/;
  scroll-behavior: smooth;
}
.parallax_group {
  position: relative;
  width: 101%;
  transform-style: preserve-3d;
  margin: -1px
}
.parallax_layer {
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

/* ================================= */
/* ::::::::  Groups Orders ::::::::: */
/* ================================= */

.group1{ /*mountains*/
  z-index: -5;
}

 .group2{ /*welcome/timeline - brown*/
  z-index: 0;
  min-height: 220vh;
  background: #140b00;
  will-change: top;
}


.group3{ /*ocean*/
  z-index: -10;
}
.group4a{ /*gallery - dark blue*/
  z-index: 0;
  min-height: 200vh;
  will-change:top;
  background-color: #0b0d21;
  background: url("../img/darkblue.png") repeat;
  
}
.group4b{ /*gallery - dark blue*/
  z-index: -1;
  height: 150vh;
  margin-top: 300px;
  transform: translateZ(-1.7px) scale(2.7);
  will-change:top;
  background: url("../img/darkblue.png") repeat;
  
}
.group5{ /*stars*/
  z-index:1;
}
.group6{
  z-index: 1;
  width: 101%;
  min-height: 170vh;
  will-change: top;
}
.group6a{ /*about him - dark blue*/
  background: #080d1c;
  position: relative;
  min-height:90vh;
}

.group6b{ /*about her - light gray-fog*/
  background:#b8c3cd;
  position: relative;
  min-height:90vh;
}
.group7{ /*bike*/
  z-index: 0;
}
 .group8{ /*wedding info - green*/
  z-index: 1;
  min-height: 200vh;
  background-color: #021000;
  background-image: url("https://www.transparenttextures.com/patterns/zig-zag.png");
  will-change: top;
}
.group9{ /*city*/
  z-index: -1;
}
 .group10{ /*RSVP*/
  z-index: 0;
  background-color: #521d13;
  min-height: 100vh;
  /*min-height:1400px;*/
  will-change: top;
}

/* ================================= */
/* :::::::::: 1. Mountain :::::::::: */
/* ================================= */

.parallax_layer--mountain1 {
  transform: translateZ(-2px) scale(3);
  background-image: url("../img/mountain/tinified/layer_1.jpg");
  z-index: -10;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--mountain2 {
  background-image: url("../img/mountain/tinified/layer_2.png");
  transform: translateZ(-1.3px) scale(2.3);
  z-index: -9;  
  position: absolute;
}
.parallax_layer--mountain3{
  background-image: url("../img/mountain/tinified/layer_3.png");
  transform: translateZ(-1px) scale(2);
  z-index: -8; 
  position: absolute;
}
.parallax_layer--mountain4 {
  transform: translateZ(-0.7px) scale(1.7);
  background-image: url("../img/mountain/tinified/layer_4.png");
  z-index: -7; 
  position: absolute;
}
.parallax_layer--mountain5 {
  background-image: url("../img/mountain/tinified/layer_5.png");
  z-index: -5; 
  position: absolute;
}




/* ================================= */
/* :::::::::::; 2. Ocean ::::::::::: */
/* ================================= */


.parallax_layer--ocean1 {
  transform: translateZ(-2.5px) scale(3.5);
  background-image: url("../img/ocean/tinified/layer_1.jpg");
  z-index: -5;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--ocean2 {
  background-image: url("../img/ocean/tinified/layer_2.png");
  transform: translateZ(-2.2px) scale(3.2);
  z-index: -4;
  position: absolute;
}
.parallax_layer--ocean3a {
  background-image: url("../img/ocean/tinified/layer_3a.png");
  transform: translateZ(-2px) scale(3);
  z-index: -3;
  position: absolute;
}
.parallax_layer--ocean3b {
  background-image: url("../img/ocean/tinified/layer_3b.png");
  transform: translateZ(-1.75px) scale(2.75);
  z-index: -3;
  position: absolute;
}
.parallax_layer--ocean4 {
  transform: translateZ(-1px) scale(2);
  background-image: url("../img/ocean/tinified/layer_4.png");
  z-index: -2;
  position: absolute;
}
.parallax_layer--ocean5 {
  background-image: url("../img/ocean/tinified/layer_5.png");
  z-index: -1;
  position: absolute;
  top: -140px;
}
.parallax_layer--ocean6 {
  background-image: url("../img/ocean/tinified/layer_6.png");
  z-index: -4;
  transform: translateZ(-1.5px) scale(2.5);
  position: absolute;
  top: 10px;
}
.parallax_layer--ocean7 {
  background-image: url("../img/ocean/tinified/layer_7.png");
  z-index: 1;
  transform: translateZ(-1px) scale(2);
  position: absolute;
  top: 20px;
}
.parallax_layer--ocean8 {
  background-image: url("../img/ocean/tinified/layer_8.png");
  z-index: 2;
  position: absolute;
}


/* ================================= */
/* ::::::::::: 3. Stars ::::::::::: */
/* ================================= */


.parallax_layer--star1 {
  transform: translateZ(-1.7px) scale(2.7);
  background-image: url("../img/star/tinified/layer_1.png");
  z-index: -5;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--star2 {
  background-image: url("../img/star/tinified/layer_2.png");
  transform: translateZ(-1.25px) scale(2.25);
  z-index: -4;
  position: absolute;
}
.parallax_layer--star3 {
  background-image: url("../img/star/tinified/layer_3.png");
  transform: translateZ(-1px) scale(2);
  z-index: -3;
  position: absolute;
}
.parallax_layer--star4 {
  background-image: url("../img/star/tinified/layer_4.png");
  z-index: -2;
  position: absolute;
}
.parallax_layer--star5 {
  background-image: url("../img/star/tinified/layer_5.png");
  z-index: -4;
  transform: translateZ(-.5px) scale(1.5);
  position: absolute;
}


/* ================================= */
/* :::::::::::: 4. Bikes ::::::::::: */
/* ================================= */


.parallax_layer--bike1 {
  transform: translateZ(-1.75px) scale(2.75);
  background-image: url("../img/bike/tinified/artflow_201609212124.jpg");
  z-index: -10;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--bike2 {
  background-image: url("../img/bike/tinified/artflow_201609212220.png"); /*mountain*/
  transform: translateZ(-1.5px) scale(2.5);
  z-index: -9;
  position: absolute;
}
.parallax_layer--bike2b {
  transform: translateZ(-1.2px) scale(2.2);
  background-image: url("../img/bike/tinified/artflow_201609220948.png"); /*fog and birds*/
  z-index: -8;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--bike3 {
  background-image: url("../img/bike/tinified/artflow_201609221310.png"); /*water*/
  transform: translateZ(-1px) scale(2);
  z-index: -7;
  position: absolute;
}
.parallax_layer--bike4 {
  background-image: url("../img/bike/tinified/artflow_201609221141.png"); /*bridge*/
  z-index: -6;
  transform: translateZ(-.8px) scale(1.8);
  position: absolute;
}

.parallax_layer--bike5 {
  background-image: url("../img/bike/tinified/artflow_201609221157.png"); /*grass-back*/
  z-index: -4;
  transform: translateZ(-.5px) scale(1.5);
  position: absolute;
}
.parallax_layer--bike6 {
  background-image: url("../img/bike/tinified/artflow_201609221258.png");
  z-index: -3;
  transform: translateZ(-.25px) scale(1.25);
  position: absolute;
}


.parallax_layer--bike7 {
  background-image: url("../img/bike/tinified/artflow_201609212217.png");
  z-index: 0;
  position: absolute;
}
@-webkit-keyframes moveleft {
  from { left: -100%;  }
  to { left: 100%;  }
}
.parallax_layer--wind{
  background-image: url("../img/bike/wind.png");
  position: absolute; 
  left: -100%; 
  display: block; 
  width: 3000px; 
  height: 800px; 
  top:0;
    -webkit-animation-name:             moveleft;
    -webkit-animation-duration:         20s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    z-index: 100;
  }


/* ================================= */
/* :::::::::::: 5. City :::::::::::: */
/* ================================= */


.parallax_layer--city1 {
  transform: translateZ(-2.5px) scale(3.5);
  background-image: url("../img/city/tinified/layer_1.jpg");
  z-index:1;
  position: absolute;
  background-size: cover;
  width: 102%;
}
.parallax_layer--city2 {
  background-image: url("../img/city/tinified/layer_2.png");
  transform: translateZ(-2px) scale(3);
  z-index: 2;
  position: absolute;
}
.parallax_layer--city3 {
  background-image: url("../img/city/tinified/layer_3.png");
  transform: translateZ(-1.3px) scale(2.3);
  z-index: 3;
  position: absolute;
}
.parallax_layer--city4 {
  transform: translateZ(-.7px) scale(1.7);
  background-image: url("../img/city/tinified/layer_4.png");
  z-index: 4;
  position: absolute;
}
.parallax_layer--city5 {
  background-image: url("../img/city/tinified/layer_5.png");
   transform: translateZ(-.5px) scale(1.5);
  z-index: 5;
  position: absolute;
}
.parallax_layer--city6 {
  background-image: url("../img/city/tinified/layer_6.png");
  z-index: 6;
  position: absolute;
}