/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  font-family: 'Josefin Slab';
}

ul {
  list-style-type: none;
  margin-right: 80px;
}

.container-fluid {

}

/*---------------FONTS--------------*/

/*-------------HEADERS--------------*/

.intro{
  background-color: #140b00;
  color:white;
  text-align: center;
  padding-top: 250px;
  padding-bottom:100px;
  width: 100%;

}

h1{
  font-family: 'Roboto Slab';
  font-size: 5.000em;
  font-weight: 100;
  font-style: normal;
    color: #fff1ab;
    text-align: center;
    margin:0;
}

h2{
  font-family: 'Amatic SC';
  line-height: 0.9;
  font-size: 2.813em;
  font-weight: normal;
  font-style: normal;
  color:white;
  text-align: center;
}

h3{
  font-family: 'Amatic SC';
  font-size: 5.5em;
  font-weight: normal;
  font-style: normal;
  color:gray;
  text-align: center;
  margin:0;
}

p{
  font-family: 'Josefin Slab';
  font-size: 1.125em;
  font-weight: 300;
  font-style: normal;
  color:gray;
}
.our-story {
  margin-top: -322px;
  margin-left: 320px;
  padding-top: 150px;
  padding-bottom: 65px;
  text-align: center;
  color: white;
  font-size: 4em;
}
/*
.img1 {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 6px -5px rgba(0,0,0,0.68);
}

.img2 {
  margin-left: 40px;
  max-width: 300px;
  padding-top: 13px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 6px -5px rgba(0,0,0,0.68);
}*/

.explore {
  margin-top: 0;
  padding-top: 70px;
  color: white;
  font-size: 5em;
}

.the-wedding {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.wedding-img {
  margin: 0 auto;
  display: block;
}

.when-info {
  text-align: right;
}
.getting-there {
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
  color: white;
  font-size: 4em;
}

/*----------------TIMELINE--------------*/
/*.timeline {
  width: 10%;
  margin: 0 auto;
  z-index: 1000;
}*/
.timeline-1 {
  margin-top: 562px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 43px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 375px;
  padding: 15px;
  background: #F45B69;
  border-radius: 5px;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -414px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}
/*
.timeline ul li.animate1:hover::after {
  content: '';
  background-image: url('http://static.wixstatic.com/media/0f152e_a7eba36144b4471aa782563bb8ec9f11~mv2_d_3648_2736_s_4_2.jpg');
  background-position: center;
  display: block;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  
  margin-right: 200px;
  border-radius: 50%;
}*/

.timeline ul li div, .timeline ul li span {
  visibility: hidden;
  opacity: 0.5;
  transition: all .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div, .timeline ul li.in-view span {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline-2 {
  margin-top: -86px;
}

.t-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
  display: inline-block;
}

.timeline ul li:nth-child(odd) div span.t-date {
  position: absolute;
  left: -120px;
  top: 54px;
}

.timeline ul li:nth-child(even) div span.t-date {
    position: absolute;
    top: 56px;
    right: -127px;
  }

  #animate11 {
    padding-top: 86px;
  }

  #date-1, #date-2, #date-3, #date-5 {
    top: 35px;
  }

  #date-11 {
    width: 80px;
    top: 0px;
    left: -125px;
  }

  #date-12 {
    width: 80px;
    top: 44px;
    right: -150px;
  }
/*--------------RESPONSIVE TIMELINE------------*/
/*@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; 
  }
}*/

@media screen and (max-width: 900px) {
  .timeline-1, .timeline-2 {
    position: absolute;
    left: 24px;
  }

  .timeline-2 {
    margin-top: -144px;
  }

  #date-1, #date-2, #date-3, #date-5 {
    top: 14px;
  }

  #date-2 {
    left: -121px;
  }

  #date-12 {
    width: 80px;
    top: 15px;
    right: -125px;
  }

  .timeline ul li:nth-child(even) div span.t-date {
    left: -121px;
    top: 35px;
  }

  .timeline ul li:nth-child(odd) div span.t-date {
    top: 35px;
  }

  .timeline ul li div span.t-date {
    position: absolute;
    top: 56px;
    right: -127px;
  }

  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 150px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

/*----------------GALLERY-----------*/


#carousel {
  align-self: center;
  margin: 0 auto;
/*  overflow: hidden;*/
  width: 850px;
  height: auto;
  display: block;
}

#carousel img {
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  display: block;
}

.slick-slide {
  width: 703px;
}



/*-------------------------------------------*/
/*------------------ABOUT US ----------------*/
/*-------------------------------------------*/


#heart{
  position:absolute;
  height:150px;
  width:150px;
  left:50%; 
  top:50%;
  margin: -75px 0 0 -75px;
  z-index:10;
}
.about_us{
  color:#bac3cc;
  padding-top: 100px;
  padding-bottom: 200px;
}
.about_him{
  height:75%;
  width:100%;
  bottom:0;
  position:absolute;
  padding-top: 50px;
}
.about_him h2, .about_him p{
  color:#bac3cc;
}

.about_her{
  height:75%;
  width:100%;
  padding-right:20px;
  padding-top: 200px;
  position:absolute;
}
.about_her h2, .about_her p{
  color:#080d1c;
}
.about_him .about_us_text{ 
  padding-right: 100px;
}
.about_her .about_us_text{
  padding-left:100px;
}
.bottom_left{ /*groom*/
  position:absolute;
  bottom:5px;
  left:15%;
  font-size:60px;
  color:#bac3cc;
}
.top_right{ /*bride*/
  position:absolute;
  top:5px;
  right:15%;
  color:#080d1c;
  font-size:60px;
}


/*-------------------ABOUT US CAROUSELS-----------*/
.about_us_carousel {
  align-self: center;
  margin: auto;
/*  overflow: hidden;*/
  width: 600px;
  height: 450px;
  display: block;
}
.about_us_carousel img {
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  max-height: 450px;
  display: block;
  margin: auto;

}

#nav_container {
  overflow: visible;
}

.slider-nav-container {
  position: absolute;
  text-align: center;
}

.slider-nav {
  display: inline-block;
}

.slider-nav .slick-arrow {
  display: inline-block;
}

.slider-nav .slick-dots {
  margin: 0 10px;
  position: relative;
  width: auto;
  height: 10px;
  display: inline-block;
}

.about_us_carousel .slick-prev {
  position: relative; 
  display: inline-block;
  float: left;
  top: 484px;
  left: 45%;
}

.about_us_carousel .slick-next {
  position: relative; 
  display: inline-block;
  top: 34px;
  left: 55%;
}


/*-------------------------------------------*/
/*------------NAVIGATION---------------------*/
/*-------------------------------------------*/

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  opacity:0.5;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  opacity:1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 16px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .02em .02em;
  color: white;
  font-size: 16px;
  font-size: 2.5rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/*---------------*/
/***** Layla *****/
/*---------------*/

.divider {
  position: absolute;
  left: 50%;
  border-left: 1px solid white;
  color: white;
}

span {
  color: white;
}

figure.effect-layla img {
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
}

figure.effect-layla figcaption {
  padding: 0em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

figure.effect-layla figcaption::before {
  top: 100px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

figure.effect-layla h2 {
  padding-top: 0%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-layla p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
  margin-top: 75px;
  margin-bottom: 20px;
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.spacer{
  padding-top: 120px;
  padding-bottom:100px;
  height:10vh;
}

.curly_divider{
  position: absolute;
  width: 50%;
  margin: 70px 25%;
}